<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title >Admin panel</title>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid bg-dark" >
        <div class="row gx-5">
            <div class="navbar-brand" style="color: white" id="barEmail">
                <span>Email</span>
            </div>
            <div class="navbar-text ml-2" style="color: white" >with roles:</div>
            <div class="navbar-text ml-2" style="color: white" id="barRoles">
                <span>roles</span>
            </div>
        </div>
        <a href="/logout" class="link-light">logout</a>
    </div>
</nav>
<!-- all -->
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
        <nav class="nav nav-pills nav flex-column" id="pills-tab" role="tablist">
             <a class="active nav-link" data-toggle="pill" href="#admin">Admin</a>
             <a class="nav-link" data-toggle="pill" href="#user">User</a>
        </nav>
        </div>
        <div class="col-10" style="background-color: lightgrey">
            <div class="tab-content">
                <div class="tab-pane active" id="admin">
                    <h1>Admin panel</h1>
                    <ul class="nav nav-tabs">
                        <!-- User table -->
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" aria-current="page" href="#user-table" id="navTabUT">Users table</a>
                        </li>
                        <!-- New user -->
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#new-user" id="navTabNU">New user</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="user-table">
                            <div class="card">
                                <div class="card-header">
                                    All users
                                </div>
                                <!-- Table -->
                                <table class="table table-striped" id="users">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Age</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <!--Модальное окно для редактирования-->
                        <div class="modal fade" id="edit">
                            <div class="modal-dialog">
                                <div class="modal-content justify-content-center">
                                    <div class="modal-header text-center">
                                        <h4 class="modal-title text-center">Edit user</h4>
                                        <button class="close" data-dismiss="modal">x</button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <div class="container">
                                            <div class="row justify-content-md-center">
                                                <div class="col-6">
                                                        <form id="editForm">
                                                            <div id="editDiv1"></div>
                                                            <div id="editDiv2"></div>
                                                        </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer" id="editBut">
<!--                                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                                        <button type="button" class="btn btn-primary" form="editForm">Edit</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Конец модального окна для добавления-->
                        <!-- Модальное окно удаления  -->
                        <div class="modal fade" id="delete">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete user</h4>
                                        <button class="close" data-dismiss="modal">x</button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <div class="container">
                                            <div class="row justify-content-md-center">
                                                <div class="col-6">
                                                    <form id="deleteForm">
                                                        <div id="deleteDiv1"></div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer" id="footer"></div>
                                </div>
                            </div>
                        </div>
                        <!-- Конец окна удаления -->
                            <div class="tab-pane" id="new-user">
                            <div class="card">
                                <div class="card-header">
                                Add new user
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4"></div>
                                            <div class="col-4 text-center" >
                                                <form id="formNewUser" name="formNewUser">
                                                    <div class="form-group">
                                                        <label for="firstname">First name</label>
                                                        <input type="text" class="form-control" name="firstnameNew" id="firstname" placeholder="First name" >
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="lastname">Last name</label>
                                                        <input type="text" class="form-control" name="lastnameNew" id="lastname" placeholder="Last name" >
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="age">Age</label>
                                                        <input type="number" class="form-control" name="ageNew" id="age" placeholder="Age" >
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="email">Email</label>
                                                        <input type="email" class="form-control" name="emailNew" id="email" placeholder="Email" >
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Password">Password</label>
                                                        <input type="password" class="form-control" name="passwordNew" id="password" placeholder="Password" >
                                                    </div>
                                                    <div class="form-group" id="rolesNewUser"></div>
                                                    <button type="button" class="btn btn-success" onclick="addNewUser();">Add new user</button>
                                                </form>
                                            </div>
                                        <div class="col-4"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="user">
                    <h1>User information-page</h1>
                    <div class="card">
                        <div class="card-header">
                            About user
                        </div>
                    <table class="table table-striped" id="tableUser">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<script type="text/javascript" src="/app.js">
    // //достаем всех пользователей
    // async function getUsers() {
    //     let response = await fetch('http://localhost:8080/admin/users');
    //     if (response.ok) {
    //         let data = await response.json();
    //         return data
    //     } else {
    //         alert('error', response.status);
    //     }
    // }
    // // достаем пользователя для заполнения модального окна
    // async function userForModal(id) {
    //     let response = await fetch('http://localhost:8080/admin/users/' + id);
    //     if (response.ok) {
    //         let data = await response.json();
    //         return data
    //     } else {
    //         alert('error', response.status);
    //     }
    // }
    // // получаем роли из базы
    // async function allRoles() {
    //     let response = await fetch('http://localhost:8080/admin/roles');
    //     if (response.ok) {
    //         let data = await response.json();
    //         return data
    //     } else {
    //         alert('error', response.status);
    //     }
    // }
    // // форма для модального окна edit
    // function edit(id) {
    //     userForModal(id).then(function (value) {
    //
    //         let form = document.querySelector('#editDiv1');
    //
    //         let html =
    //             `<div class="form-group">
    //                 <label for="firstname">First name</label>
    //                 <input type="text" class="form-control" id="firstname" value="${value.firstname}" name="firstname">
    //              </div>
    //              <div class="form-group">
    //                 <label for="lastname">Last name</label>
    //                 <input type="text" class="form-control" id="lastname" value="${value.lastname}" name="lastname">
    //              </div>
    //              <div class="form-group">
    //                  <label for="age">Age</label>
    //                  <input type="number" class="form-control" id="age" value="${value.age}" name="age">
    //              </div>
    //              <div class="form-group">
    //                  <label for="email">Email</label>
    //                 <input type="email" class="form-control" id="email" value="${value.email}" name="email">
    //              </div>
    //              <div class="form-group">
    //                 <label for="Password">Password</label>
    //                 <input type="password" class="form-control" id="Password" name="password">
    //              </div>`;
    //
    //         form.innerHTML = html;
    //
    //         let button = document.querySelector('#editBut');
    //
    //         let buttonHtml = `<button class="btn btn-secondary" data-dismiss="modal">Close</button>
    //                           <button type="button" onclick="upDateUser(${id})" data-dismiss="modal" class="btn btn-primary" form="editForm">Edit</button>`;
    //
    //         button.innerHTML = buttonHtml;
    //     });
    //
    //     allRoles().then(function (valueRole) {
    //         let select = `<div class="form-group">
    //                            <label for="role">Role</label>
    //                            <select multiple class="form-control" id="role" name="rolesFromModalEdit" >`;
    //
    //         for (let role of valueRole) {
    //             select += `<option value="${role.authority}" label="${role.authority}"></option>`;
    //         }
    //         select +=  `</select></div>`;
    //
    //         let html = document.querySelector('#editDiv2');
    //         html.innerHTML = select;
    //
    //     });
    // }
    // // форма для модального окна delete
    // function remove(id) {
    //     userForModal(id).then(function (value){
    //
    //         let roles = value.roles;
    //         let option = '';
    //         for(let i = 0; i < roles.length; i++) {
    //             let role = roles[i].authority;
    //             option += `<option>${role}</option>`;
    //         }
    //
    //         let form = document.querySelector('#deleteDiv1');
    //         let html =
    //             `<div class="form-group">
    //                 <label for="firstname2">First name</label>
    //                 <input id="firstname2" class="form-control" value="${value.firstname}" type="text" disabled>
    //             </div>
    //         <div class="form-group">
    //             <label for="lastname2">Last name</label>
    //             <input type="text" class="form-control" value="${value.lastname}" id="lastname2" disabled>
    //         </div>
    //         <div class="form-group">
    //             <label for="age2">Age</label>
    //             <input type="number" class="form-control" value="${value.age}" id="age2" disabled>
    //         </div>
    //         <div class="form-group">
    //             <label for="email2">Email</label>
    //             <input type="email" class="form-control" value="${value.email}" id="email2" disabled>
    //         </div>
    //         <div class="form-group">
    //             <label for="Password2">Password</label>
    //             <input type="password" class="form-control" value="${value.password}" id="Password2" disabled>
    //         </div>
    //         <div class="form-group">
    //             <label for="role2">Role</label>
    //             <select multiple class="form-control" id="role2" disabled>
    //                ${option}
    //             </select>
    //         </div>`;
    //
    //         form.innerHTML = html;
    //
    //         let footer = document.querySelector('#footer');
    //         let footerHtml = `<button class="btn btn-secondary" data-dismiss="modal">Close</button>
    //                           <button type="button" class="btn btn-danger" onclick="removeFromBD(${id})" form="deleteForm" data-dismiss="modal"> Delete</button>`;
    //
    //         footer.innerHTML = footerHtml;
    //
    //     });
    // }
    // // получаем всех пользователей и записываем в таблицу
    // function tableFull() {
    //     getUsers().then(function (value){
    //
    //     let html = '';
    //     let table;
    //     table = document.querySelector('#users tbody');
    //
    //     for (let user of value) {
    //
    //         let roles = user.roles;
    //         let printRoles = '';
    //
    //         for (let k = 0; k < roles.length; k++) {
    //             printRoles += roles[k].authority;
    //             if (k != (roles.length-1)) {
    //                 printRoles += ' ';
    //             }
    //         }
    //         html += `<tr>
    //                     <th>${user.id}</th>
    //                     <th>${user.firstname}</th>
    //                     <th>${user.lastname}</th>
    //                     <th>${user.age}</th>
    //                     <th>${user.email}</th>
    //                     <th>${printRoles}</th>
    //                     <th><button class="btn btn-info" onclick="edit(${user.id});" data-target="#edit" data-toggle="modal">Edit</button></th>
    //                     <th><button class="btn btn-danger" onclick="remove(${user.id});" data-target="#delete" data-toggle="modal">Delete</button></th>
    //                  </tr>`;
    //     }
    //     table.innerHTML = html;
    // });
    // }
    // // вызываем метод при стпрте странички
    // tableFull();
    // // достаем аутентифицированного пользователя
    // async function getAuthenticatedUser() {
    //     let response = await fetch('http://localhost:8080/admin/authenticatedUser');
    //     if (response.ok) {
    //         let data = await response.json();
    //         return data
    //     } else {
    //         alert('error', response.status);
    //     }
    // }
    // // заполням данными бар и таблицу в вкладке USER
    // getAuthenticatedUser().then(function (value) {
    //
    //     let roles = value.roles;
    //     let rolesValue = '';
    //
    //     for (let i = 0; i < roles; i++) {
    //         rolesValue += roles[i].authority;
    //         if (i != (roles.length-1)) {
    //             rolesValue += ' ';
    //         }
    //     }
    //
    //    let bar = document.querySelector("#barEmail");
    //    let barHtml = `<span>${value.email}</span>`;
    //    bar.innerHTML = barHtml;
    //
    //    let barRoles = document.querySelector("#barRoles");
    //    let barRolesHtml = `<span>${rolesValue}</span>`;
    //    barRoles.innerHTML = barRolesHtml;
    //
    //     let tbodyUserTable = document.querySelector("#tableUser tbody");
    //
    //     let html = `<tr>
    //                     <th>${value.id}</th>
    //                     <th>${value.firstname}</th>
    //                     <th>${value.lastname}</th>
    //                     <th>${value.age}</th>
    //                     <th>${value.email}</th>
    //                     <th><span class="ml-2">${rolesValue}</span></th>
    //                  </tr>`;
    //
    //     tbodyUserTable.innerHTML = html;
    //
    // });
    // // заполняем форму New User ролями
    // allRoles().then(function (valueRole) {
    //     let select = `<div class="form-group">
    //                        <label for="role1">Role</label>
    //                        <select multiple class="form-control" id="role1" name="rolesNew">`;
    //
    //     for (let role of valueRole) {
    //         select += `<option value="${role.authority}" label="${role.authority}"></option>`;
    //     }
    //
    //     select +=  '</select></div>';
    //
    //     let html = document.querySelector('#rolesNewUser');
    //     html.innerHTML = select;
    //
    // });
    // // добавление нового пользователя
    // async function addNewUser() {
    //     let form = document.getElementById('formNewUser');
    //
    //     let firstname_ = form.getElementsByTagName('input').firstname.value;
    //     let lastname_ = form.getElementsByTagName('input').lastname.value;
    //     let age_ = form.getElementsByTagName('input').age.value;
    //     let email_ = form.getElementsByTagName('input').email.value;
    //     let password_ = form.getElementsByTagName('input').password.value;
    //     let roles = form.getElementsByTagName('select').role1.selectedOptions;
    //
    //     let arrRoles = new Array();
    //
    //    for (let role of roles) {
    //        arrRoles.push({authority : role.value});
    //    }
    //
    //     let user = {
    //         firstname: firstname_,
    //         lastname: lastname_,
    //         age: age_,
    //         email: email_,
    //         password: password_,
    //         roles: arrRoles
    //     };
    //
    //     let response = await fetch('http://localhost:8080/admin/users', {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type': 'application/json;charset=utf-8'
    //         },
    //         body: JSON.stringify(user)
    //     });
    //
    //     await response.json();
    //     // переключаются панели
    //     document.getElementById('user-table').getAttributeNode('class').value = 'tab-pane active';
    //     document.getElementById('new-user').getAttributeNode('class').value = 'tab-pane';
    //
    //     document.getElementById('navTabNU').getAttributeNode('class').value = 'nav-link';
    //     document.getElementById('navTabUT').getAttributeNode('class').value = 'nav-link active';
    //
    //
    //     tableFull();
    // }
    // // Удаление пользователя
    // async function removeFromBD(id) {
    //     await fetch('http://localhost:8080/admin/users/' + id, {
    //         method: 'DELETE'
    //     });
    //     tableFull();
    // }
    // // Обновление пользователя
    // async function upDateUser(id) {
    //     let form = document.getElementById('editForm');
    //
    //     let firstname_ = form.getElementsByTagName('input').firstname.value;
    //     let lastname_ = form.getElementsByTagName('input').lastname.value;
    //     let age_ = form.getElementsByTagName('input').age.value;
    //     let email_ = form.getElementsByTagName('input').email.value;
    //     let password_ = form.getElementsByTagName('input').password.value;
    //     let roles = form.getElementsByTagName('select').role.selectedOptions;
    //
    //     let arrRoles = new Array();
    //
    //     for (let role of roles) {
    //         arrRoles.push({authority : role.value});
    //     }
    //
    //     let user = {
    //         id: id,
    //         firstname: firstname_,
    //         lastname: lastname_,
    //         age: age_,
    //         email: email_,
    //         password: password_,
    //         roles: arrRoles
    //     };
    //
    //     let response = await fetch('http://localhost:8080/admin/users', {
    //         method: 'PUT',
    //         headers: {
    //             'Content-Type': 'application/json;charset=utf-8'
    //         },
    //         body: JSON.stringify(user)
    //     });
    //
    //     let result = await response.json();
    //     console.log(result);
    //
    //     tableFull();
    // }



</script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>